<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <!-- Stylesheets -->
    <link href="/css/normalize.css" type='text/css' rel='stylesheet' media='all'>
    <link href="/css/solo.css" type='text/css' rel='stylesheet' media='all'>
    <link href="/css/syntax.css" type='text/css' rel='stylesheet' media='all'>
    <!-- Icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    {% include google-analytics.html %}
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>